html {
  height: 100%;
  box-sizing: bo;
}

body {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
}

.modal--show {
  display: flex;
}

.modal-window {
  padding: 20px 30px 35px;
  width: 350px;
  border-radius: 2px;
  box-shadow: 0 0 5px 5px lightgrey;
  background-color: white;
}

.modal-window__wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.main-button {
  background-color: forestgreen;
}

.form__button {
  margin: auto;
  background-color: steelblue;
}

.form__button:disabled {
  background-color: lightblue;
}

.modal__close-button {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 1px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.modal__close-button::after {
  position: absolute;
  top: 0px;
  left: 4px;
  content: "\00D7";
  color: grey;
  font-size: 24px;
  line-height: 22px;
}

.modal__close-button:hover,
.modal__close-button:focus {
  box-shadow: 0 0 3px 3px lightgrey;
}

a {
  text-decoration: none;
  color: steelblue;
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkbox-label {
  font-size: 12px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 15px;
  border-radius: 1px;
  border: 2px solid lightgrey;
  background-color: white;
  font: inherit;
  margin-bottom: 5px;
}

.form__input:focus:not(.form__input--invalid) {
  border-color: darkgrey;
}

.form__input:invalid {
  box-shadow: none;
}

.form__input--invalid {
  border-color: firebrick;
}

input[type="checkbox"] {
  margin: 0;
  margin-bottom: 15px;
}

.form__message-wrapper {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.form__message {
  position: relative;   /* для псевдоэлементов */
  color: grey;
  font-size: 10px;
}

.hidden-message {
  color: firebrick;
  visibility: hidden;
}

.hidden-message--valid {
  visibility: hidden;
}

.hidden-message--invalid {
  visibility: visible;
}

.list-message {
  padding-left: 15px;
  font-size: 10px;
}

.list-message::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
}

.list-message--valid {
  color: forestgreen;
}

.list-message--valid::before {
  content: "\2714";
  border-color: forestgreen;
}

.list-message--invalid {
  color: firebrick;
}

.list-message--invalid::before {
  content: "\2716";
  border-color: firebrick;
}

.text-message {
  margin: 0;
  color: grey;
  font-size: 12px;
}
